.RoadmapBar {
  padding: 27px 40px 27px 32px;
  border-radius: 10px;
  background-color: var(--bg-blue-dark);
  color: var(--white);
}

.RoadmapBar_back {
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  cursor: pointer;
}

.RoadmapBar_title {
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
}

.RoadmapBar_btn {
  padding: 12px 24px;
  border-radius: 10px;
  background-color: var(--bg-purple);

  font-size: 14px;
  font-weight: 700;
  line-height: 20px;

  &:hover {
    background-color: var(--bg-purple-hv);
  }
}
