.AddCmt {
  padding: 24px 32px;
  border-radius: 10px;
  background-color: var(--bg-elm);
  box-shadow: var(--box-shadow);
}

.AddCmt_title {
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: 700;
}

.AddCmt_content {
  margin-bottom: 16px;
}
