//
:root {
  //
  --bg-main: #f7f8fd;
  --bg-elm: white;

  --bg-blue: #4661e6;
  --bg-blue-hv: #7c91f9;
  --bg-blue-dark: #373f68;
  --bg-blue-dark-hv: #656ea3;
  --bg-blue-white: #f2f4ff;
  --bg-blue-white-hv: #cfd7ff;
  --bg-purple: #ad1fea;
  --bg-purple-hv: #c75af6;
  --bg-red: #d73737;
  --bg-red-hv: #e98888;
  
  //
  --white: white;
  --blue: #4661e6;
  --dark: #3a4374;
  --gray-blue: #647196;
  --white-blue: #f2f4fe;
  --purple: #ad1fea;
  --error: #d73737;

  //
  --linear-blue-purple: 45deg, var(--bg-blue), var(--bg-purple);
  --box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.1);
}

// ---

* {
  box-sizing: border-box;
}

@font-face {
  font-family: Jost;
  src: local('Jost*'),
    url('https://fonts.cdnfonts.com/s/21656/Jost400Book.woff') format('woff');
}

body {
  margin: 94px 0 134px;
  font-family: Jost;
  color: var(--dark);
  background-color: var(--bg-main);
}

input {
  font-size: inherit;
  color: inherit;
}

a {
  color: inherit;
  font: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
}

select {
  color: inherit;
  font: inherit;
}

// -----

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}
.grow-1 {
  flex-grow: 1;
}

// -----

.pos-rel {
  position: relative;
}

.pos-abs-0 {
  position: absolute;
  top: 0;
  left: 0;
}

.pos-abs-100per {
  @extend .pos-abs-0;
  @extend .wh-100per;
}

// -----

.w-100per {
  width: 100%;
}

.h-100per {
  height: 100%;
}

.wh-100per {
  width: 100%;
  height: 100%;
}

// ----

.box-shadow-elm {
  box-shadow: var(--box-shadow);
}

// ------ APP

.App {
  width: 1190px;
  margin: auto;
}
