.CmtSub_pic {
  margin-right: 24px;
}

//

.CmtSub_user {
  margin-bottom: 16px;
  font-size: 14px;
}

.CmtSub_user_name {
  font-weight: 700;
}

.CmtSub_username {
  color: var(--gray-blue);
}

//
.CmtSub_reply {
  color: var(--blue);
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}

//

.CmtSub_content {
  margin-bottom: 24px;
  font-size: 15px;
  color: var(--gray-blue);
}

.CmtSub_post {
  margin-left: 16px;
}
