.HomeRoadMap {
  padding: 24px;
  border-radius: 10px;
  background-color: var(--white);
}

// ---

.HomeRoadMap_header {
  margin-bottom: 24px;
}

.HomeRoadMap_title {
  font-size: 18px;
  font-weight: 700;
}

.HomeRoadMap_link {
  text-decoration: underline;
  color: #8397f8;
  font-size: 13px;
  font-weight: 600;
}

// ---

.HomeRoadMap_status{
  margin-bottom: 8px;
}
